:before, :after {
  margin: 0;
  padding: 0;
  position: relative;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  font: 100%/1.5 "Roboto", Verdana, sans-serif;
  color: #3d464d;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  width: 100%;

  overflow: hidden-x;
}
body {
    margin: 0;
    padding: 30px;
    padding-top: 40px;
}
header {
    color: #1d93e2;
    position: fixed;
    left: 0;
    top: 0;
    padding: 10px 30px;
    width: 100%;
    z-index: 999;
    background-color: #ececec;
}
header a {
    float: left;
    margin-right: 15px;
}
header a.last {margin-right: 0;}
a {
  color: inherit;
  text-decoration: underline;
  -webkit-animation: hue 60s infinite linear;
}
a:hover {
  color: #f35626;
}
